*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}
body{
  height: 100vh;
  background:#080d23;
}
.container{
  position:absolute;
  top: 30%;
  left: 30%;
  background-color: #fff;
  padding: 1.8em;
  border-radius: 0.6em;
  max-width: 37.5em;
  transform: translate(-50%,-40%);
}
.search-container{
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 2em;
  margin-bottom: 1.2em;
}
.search-container button{
  font-size: 1em;
  border-radius: 2em;
  background-color: #5372f0;
  border: none;
  outline: none;
  color: #ffff;
}
#result img{
  display: block;
  margin: auto;
  max-width: 16.0em;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}